<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.miguegar.practicamd">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- para colocar e back up en el toolbar (de CreateAccountActivity a LoginActivity) -->
        <!-- android:value=".LoginActivity   -Para dar soporte para versiones anteriores -->
        <activity
            android:name=".view.CreateAccountActivity"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".RefereniaActivity"
            android:label="@string/title_activity_referenia"
            android:theme="@style/AppTheme" />
        <activity android:name=".view.ContainerActivity" />


        <activity android:name=".view.PictureDatailActivity"
            android:parentActivityName=".view.ContainerActivity">

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".view.ContainerActivity" />

            </activity>
    </application>

</manifest>